﻿<div class="code">
    404
</div>

<div class="title">
    صفحه ای یافت نشد
</div>

<div class="description">
   متاسفیم ما صفحه مورد نظر شما را پیدا نکردیم
</div>

<a class="link"
   [routerLink]="['']">
    بازگشت  به صفحه اصلی
</a>
