:host {
    display: block;
    color: rgba(0, 0, 0, 0.87);
}

:host>>>.backdrop {
    z-index: -100;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../../assets/img/pattern01.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #fafafa;
}

:host>>>.row {
    min-height: 100vh;
}

:host>>>.code {
    font-size: 7rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
}

:host>>>.title {
    font-size: 1.7rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

:host>>>.description {
    font-size: 1.1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin: 1rem auto 3rem auto;
}

:host>>>.details {
    margin-top: 1rem;
    font-family: monospace;
    font-size: 0.75rem;
    color: #000;
}

:host>>>.link {
    text-align: center;
    font-size: 1rem;
    color: #039be5;
    text-decoration: none;
}