<div class="container">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="backdrop"></div>