<div mat-dialog-title>
  <button mat-mini-fab [mat-dialog-close]="data" cdkFocusInitial>    
    <mat-icon svgIcon="close" (click)="onNoClick()" style="cursor:pointer;"></mat-icon>
  </button>&nbsp;
  <span>{{'attachmentsView'| translate}}</span>
  <!--<button mat-button (click)="onNoClick()"> No Thanks </button>-->
</div>
<div mat-dialog-content>
</div>
<ng-container *ngIf="myAttachmentsDialogRowData!=undefined;else noData">
  <ag-grid-angular style="width: 100%; height:60%;"
                   class="ag-theme-balham"
                   id="myAttachmentsDialog"
                   [rowData]="myAttachmentsDialogRowData"
                   [columnDefs]="myAttachmentsDialogColumnDefs"
                   [enableCellChangeFlash]="true"
                   [animateRows]="true"
                   (gridReady)="onAttachmentsDialogGridReady($event)"
                   [enableColResize]="true"
                   [enableSorting]="false"
                   [enableFilter]="false"
                   [enableRtl]="true"
                   rowHeight="35"
                   (rowDoubleClicked)="rowDoubleClicked($event)"
                   [rowSelection]="rowSelection"
                   [pagination]="true"
                   [paginationPageSize]="paginationPageSizeAttachmentsDialog"
                   [paginationNumberFormatter]="paginationNumberFormatterAttachmentsDialog"
                   [defaultColDef]="defaultColDefAttachmentsDialog">
  </ag-grid-angular>
</ng-container>
<div mat-dialog-actions>
</div>
<ng-template #noData>
  {{'NoData' | translate}}
</ng-template>
