<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p [translate]="'InformYourIdentity'"></p>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="{{'User' | translate}}" formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            <div [translate]="'InformYourUserName'"></div>            
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="{{'Password' | translate}}" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            <div [translate]="'InformYourPassword'"></div>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary"><div [translate]="'Login'"></div></button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
