.mat-toolbar {
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
}

::ng-deep div.mat-menu-panel {
  border-radius: 5px;
  margin: 0px 50px 0px 50px;
}

::ng-deep div.mat-menu-content {
  padding: 0;
  margin: 0;
}

/*::ng-deep div.mat-list-item {
 width:0px;
}

::ng-deep div.mat-list-item-content {
  padding: 0;
  margin: 0;
}*/

.toolbar-filler {
  flex: 1 1 auto;
}

.content {
  height: 100%;
  padding: -2px;
}

.footer {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  position: static;
  display: block;
  padding: 2px;
  flex-wrap: nowrap;
  align-content: center;
  background-color: darkblue;
  color: lemonchiffon;
  text-align: center;
}

/*::ng-deep .mat-drawer {
  width: 50px;
  text-overflow: ;
  margin: 0;
  display: -webkit-flex; 
  position: inherit;
}
*/
