@import '~@angular/material/theming';
@include mat-core();

$default-app-primary: mat-palette($mat-indigo);
$default-app-accent: mat-palette($mat-yellow, A200,A400);
$default-app-warn: mat-palette($mat-red,400,A100);
$default-app-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);

@include angular-material-theme($default-app-theme);

.component-theme {
  $component-primary: mat-palette($mat-light-blue,A200,300);
  $component-accent: mat-palette($mat-amber, A400, A100, A700);
  $component-warn: mat-palette($mat-red,A400);

  $component-theme: mat-light-theme($component-primary, $component-accent, $component-warn);

  @include angular-material-theme($component-theme);
}

.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-pink, A200, A100, A400);  
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}


$custom-typography: mat-typography-config(
  $font-family: 'B Nazanin,Nazanin,B Zar', 
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include mat-base-typography($custom-typography);
// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
//@include angular-material-typography($custom-typography);


// Create a config with the default typography levels.
$config: mat-typography-config();

// Custom header that uses only the Material `font-size` and `font-family`.
.unicorn-header {
  font-size: mat-font-size($config, headline);
  font-family: mat-font-family($config);
}

// Custom title that uses all of the typography styles from the `title` level.
.unicorn-title {
  @include mat-typography-level-to-styles($config, title);
}


  /*.header-menu {
    background: #edf9ff;
    color: #000000;
  }

  .header {
    padding: 0;
    margin: 0;
  }*/
